# {{ ansible_managed }}
# Firewall rules for squid
{% set ipt = '/usr/sbin/iptables' %}
{% set ch = 'in_squid' %}
{% set in_rule = '-d ' ~ squid_ip ~ ' -p tcp --dport ' ~ squid_port ~ ' -j ' ~ ch %}

[Service]
# Setup ref to chain
ExecStartPre=!-{{ ipt }} -N {{ ch }}
ExecStartPre=!{{ ipt }} -F {{ ch }}
ExecStartPre=!-{{ ipt }} -D INPUT {{ in_rule }}
ExecStartPre=!{{ ipt }} -A INPUT {{ in_rule }}

{% for rule in squid_iptables %}
ExecStartPre=!-{{ ipt }} -A {{ ch }} {{ rule }}
{% endfor %}

# Cleanup: unref, flush, delete
ExecStopPost=!-{{ ipt }} -D INPUT {{ in_rule }}
ExecStopPost=!-{{ ipt }} -F {{ ch }}
ExecStopPost=!-{{ ipt }} -X {{ ch }}
